<mat-toolbar>
  <mat-toolbar-row>
    <span>Bike Shop</span>
    <span class="header-spacer"></span>
    <button mat-icon-button class="example-icon person-icon" aria-label="User profile icon" (click)="onUserIcon()">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon shopping_cart-icon" aria-label="Shopping cart icon" disabled="true">
      <mat-icon matBadge="0" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <a mat-raised-button routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page">News</a>
    <a mat-raised-button routerLink="/product-list" routerLinkActive="active" ariaCurrentWhenActive="page">Shop</a>
    <a mat-raised-button routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="isUserLoggedIn()">Admin</a>
  </mat-toolbar-row>
</mat-toolbar>
