<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Bike Shop</span>
    <span class="header-spacer"></span>
    <button mat-icon-button class="example-icon person-icon" aria-label="User profile icon" (click)="onUserIcon()">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="smallCart" class="example-icon shopping_cart-icon" aria-label="Shopping cart icon">
      <mat-icon matBadge="{{ cart.getCartCount() }}" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>
    <mat-menu #smallCart="matMenu">
      <div class="smallCartTable" *ngIf="cart.getCartCount() > 0" (click)="$event.stopPropagation()">
        <div *ngFor="let p of cart.getCart()">
          <div>{{ p.name }}</div>
          <div *ngIf="!p.sale">{{ p.price | currency }}</div>
          <div *ngIf="p.sale">{{ p.price | sale : p.sale | currency }}</div>
          <button mat-icon-button aria-label="Example icon button with a cancel icon" (click)="cart.removeFromCart(p)">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div>
          <div><strong>Summary:</strong></div>
          <div>{{ cart.getCartTotal() | currency }}</div>
        </div>
      </div>
      <div id="smallCartButton" *ngIf="cart.getCartCount() > 0">
        <a mat-raised-button routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page" color="accent">
          <span>Continue purchase</span>
        </a>
      </div>
      <div>
        <p id="emptyCartMessage" *ngIf="cart.getCartCount() === 0">Your cart is empty</p>
      </div>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row style="height: 40px">
    <a mat-flat-button [matMenuTriggerFor]="prodSubMenu" ariaCurrentWhenActive="page">Products</a>
    <mat-menu #prodSubMenu="matMenu">
      <li *ngFor="let t of productTypes">
        <a mat-flat-button routerLink="/product-list/{{ t | lowercase }}" routerLinkActive="active">{{ t }}</a>
      </li>
    </mat-menu>
    <a mat-flat-button routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="auth.isUserAdmin()">Admin</a>
  </mat-toolbar-row>
</mat-toolbar>
