<mat-card class="card">
  <img mat-card-image src="{{ imageUrl }}" />
  <mat-card-content>
    <mat-card-title>{{ name }}</mat-card-title>
    <p>{{ price }}$</p>
    <p>
      <mat-icon aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example star icon" fontIcon="star"></mat-icon>
      4.2
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>ADD TO CART</button>
  </mat-card-actions>
</mat-card>
