.card {
  width: 250px;
  margin: 20px 0px 0px 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

mat-card-title {
  height: 3em;
}

.salePrice {
  color: green;
  font-weight: bold;
}

button{
  margin: 10px auto 10px auto;
}
