<mat-card class="card">
  <img mat-card-image src="{{ product.image }}" alt="Image of {{ product.name }}" />
  <mat-card-content>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <p *ngIf="!product.sale">{{ product.price | currency }}</p>
    <p *ngIf="product.sale" class="salePrice">{{ product.price | sale : product.sale | currency }} SAVE {{ product.sale }}%</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="accent" (click)="cart.addToCart(product)">{{ "add to cart" | uppercase }}</button>
  </mat-card-actions>
</mat-card>
