<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical="true">
      <mat-button-toggle mat-stroked-button color="primary" (click)="this.showAll()">All</mat-button-toggle>
      <mat-button-toggle *ngFor="let e of menuElements" mat-stroked-button color="primary" (click)="this.showType(e)">{{e}}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-drawer>

  <div class="sidenav-content">
    <app-product-card *ngFor="let p of displayProducts" [product]="p"></app-product-card>
  </div>
</mat-drawer-container>
