<div *ngIf="filter.generate && filter.type === 'multiselect'" class="filter" [ngClass]="{ active: isFilterActive() }">
  <div>
    <span>{{ filter.name }}</span>
  </div>
  <div>
    <button
      *ngFor="let v of getStringValues()"
      mat-flat-button
      (click)="this.setValue(v)"
      [color]="this.filter.selected?.includes(v.toLowerCase()) ? 'primary' : 'none'"
    >
      {{ v }}
    </button>
  </div>
</div>

<div *ngIf="filter.generate && filter.type === 'range'" class="filter" [ngClass]="{ active: isFilterActive() }">
  <div>
    <span>{{ filter.name }}: {{ filter.selectedMin }} - {{ filter.selectedMax }}</span>
  </div>
  <mat-slider [min]="this.filter.rangeMin" [max]="this.filter.rangeMax">
    <input [(ngModel)]="filter.selectedMin" matSliderStartThumb (dragEnd)="setRange()" />
    <input [(ngModel)]="filter.selectedMax" matSliderEndThumb (dragEnd)="setRange()" />
  </mat-slider>
</div>

<div *ngIf="!filter.generate && filter.name === 'Type'" class="filter" [ngClass]="{ active: isFilterActive() }">
  <div>
    <span>{{ filter.name }}</span>
  </div>
  <div>
    <button mat-flat-button color="primary">
      {{ filter.selected }}
    </button>
    <button mat-flat-button (click)="navigateToAllProducts()">
      Show all
    </button>
  </div>
</div>
